{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block meta_title%} Jobs portal | Applications {% endblock %}

{% block content %}

<div class="container">
  <table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Fullname</th>
      <th scope="col">Email</th>
      <th scope="col">Phone number</th>
      <th scope="col">LinkedIn</th>
      <th scope="col">Portfolio</th>
      <th scope="col">Message</th>
      <th scope="col">Expected pay</th>
      <th scope="col">Date</th>
      <th scope="col">Resume</th>
      <th scope="col">Answer</th>
      <th scope="col">Send feedback</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>

    {% for object in object_list %}
    <tr>
      <th scope="row">{{object.id}}</th>
      <td>{{object.return_full_name}}</td>
      <td><a href=mailto:{{object.email}}>{{object.email}}</a></td>
      <td>{{object.phone_number}}</td>
      {% if object.linkedin %}
      <td><a href={{object.linkedin}}>LinkedIn</a></td>
      {% else %}
      <td>No LinkedIn</td>
      {% endif %}

      {% if object.portfolio %}
      <td><a href={{object.portfolio}}>Portfolio</a></td>
      {% else %}
      <td>No portfolio</td>
      {% endif %}
      <td>
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Message</button>

        <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasBottomLabel">Message</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body small">
            {{object.message}}
          </div>
        </div>
      </td>
      <td>{{object.expected_pay}}</td>
      <td>{{object.date_created}}</td>
      {% if object.cv %}
        <td><a href=http://127.0.0.1:8000/media/{{object.cv}}>Resume</a></td>
      {% else %}
        <td>No resume</td>
      {% endif %}
      <td>
        {% if object.answer %}
          Yes 
        {% else %}
          No
        {% endif %}
      </td>
      <td>
        <a href="{% url 'accounts:send_feedback' object.id %}">Send feedback</a>
      </td>
      <td>
        <form method="POST" action="{% url 'accounts:delete_application' object.id %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">DELETE</button>
        </form>
      </td>
      {% endfor %}

    </tr>
  </tbody>
</table>
</div>



{% endblock %}