{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block meta_title%} Jobs portal | Home page {% endblock %}

{% block content %}


<form method="get" action=".">
    {{search_form|crispy}}
    <button type=submit>Search</button>
</form>

<form method="get" action=".">
    {{positions_form|crispy}}
    <button type="submit">Filter by positions</button>
</form>

<form method="get" action=".">
    {{level_form|crispy}}
    <button type="submit">Filter by Experience</button>
</form>

<form method="get" action=".">
    {{localization_form|crispy}}
    <button type="submit">Filter by localization</button>
</form>

<form method="get" action=".">
    {{contract_form|crispy}}
    <button type="submit">Filter by contract type</button>
</form>

<form method="get" action=".">
    {{date_sorting_form|crispy}}
    <button type="submit">Sort by date</button>
</form>

<div class="container">
{% for object in object_list %}
    <h2>Name: {{object.name}}</h2>
    Language: {{object.position}} <br>
    Experience: {{object.level}} <br>
    Contact: {{object.contract}} <br>
    Requirements: {{object.requirements}} <br>
    Localization: {{object.localization}} <br>
    Description: {{object.description}} <br>
    Salary: {{object.salary}} <br>
    Date created: {{object.date_created}} <br>
    {% if object.remote %}
    Remote <br>
    {% endif %}
    Company: {{object.company}}
{% endfor %}
</div>

{% endblock %}