{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block meta_title%} Jobs portal | {{object.name}} {% endblock %}

{% block content %}

<div class="container">
    <a style="text-decoration: none; color: black;"href="{% url "offers:company" object.company.id %}">
        <h2 style="font-size: 40px; font-weight: 600">{{object.company.username}}</h2>
    </a>
    <a href="{% url "offers:company" object.company.id %}">
    <img src="http://127.0.0.1:8000/media/{{object.company.image}}" class="img-fluid rounded-start" alt={{pbject.company.name}}>
    </a>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Description
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                {{object.company.description}}
            </div>
          </div>
        </div>  
    </div>    
</div>



<div class="container">
    <h2>{{object.name}}
        <a href={% url "offers:apply" object.id %} class="btn btn-primary" role="button">Apply</a> 
    </h2> 
    
    <strong>Language: </strong>{{object.position}} <br>
    <strong>Experience: </strong>{{object.level}} <br>



    <strong>Localization: </strong>{{object.return_localization}} <br>
    <strong>Salary: </strong>{{object.salary}} <br>
    <strong>Date created: </strong>{{object.date_created}} <br>
    {% if object.remote %}
    <strong>Remote: </strong> Yes <br>
    {% endif %}
</div>

{% endblock %}